@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font family */
@font-face {
  font-family: Mulish-bold;
  src: url("./assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url("./assets/fonts/Mulish-Demi.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url("./assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url("./assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}

body {
  /* background-image: url("./assets/images/homeScreen2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; */
  overflow-x: hidden !important;
}
#light {
  background-color: white;
}
#dark {
  background-color: #041d2f;
}

/* .icons-styling {
  background-image: linear-gradient(-45deg, #b8e6f5 0%, #04befe 100%);
  animation-name: animationicon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes animationicon {
  0%,
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
} */